/* 1. Use a more-intuitive box-sizing model */

@font-face {
  font-family: "Google Sans";
  src: url(/Google_Sans_Flex/static/GoogleSansFlex_24pt-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  font-size: 10px;

  /* hsl (fallback color) */

  --bg-dark: hsl(336 0% 1%);
  --bg: hsl(300 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(300 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --highlight: hsl(330 0% 39%);
  --border: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);
  --primary: hsl(93 34% 62%);
  --secondary: hsl(277 51% 75%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  /* oklch */
  --bg-dark: oklch(0.1 0 132);
  --bg: oklch(0.15 0 132);
  --bg-light: oklch(0.2 0 132);
  --text: oklch(0.96 0 132);
  --text-muted: oklch(0.76 0 132);
  --highlight: oklch(0.5 0 132);
  --border: oklch(0.4 0 132);
  --border-muted: oklch(0.3 0 132);
  --primary: oklch(0.76 0.1 132);
  --secondary: oklch(0.76 0.1 312);
  --danger: oklch(69.667% 0.16256 31.844);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(64.525% 0.2174 142.808);
  --info: oklch(0.7 0.05 260);
  --border-card: 2px solid var(var(--border));
  --gradient: radial-gradient(at right top, rgb(29, 36, 79), rgb(91, 8, 8));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --svg-fill: #ffffff;
}

::backdrop {
  filter: blur(8px);
  background-color: var(--bg-dark);
  opacity: 0.8;
}

body.light {
  /* hsl (fallback color) */
  --bg-dark: hsl(0 0% 90%);
  --bg: hsl(300 0% 95%);
  --bg-light: hsl(300 50% 100%);
  --text: hsl(300 0% 4%);
  --text-muted: hsl(0 0% 28%);
  --highlight: hsl(300 50% 100%);
  --border: hsl(NaN 0% 50%);
  --border-muted: hsl(340 0% 62%);
  --primary: hsl(88 69% 19%);
  --secondary: hsl(278 35% 32%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  /* oklch */
  --bg-dark: oklch(0.92 0 132);
  --bg: oklch(0.96 0 132);
  --bg-light: oklch(1 0 132);
  --text: oklch(0.15 0 132);
  --text-muted: oklch(0.4 0 132);
  --highlight: oklch(1 0 132);
  --border: oklch(0.6 0 132);
  --border-muted: oklch(0.7 0 132);
  --primary: oklch(0.4 0.1 132);
  --secondary: oklch(0.4 0.1 312);
  --danger: oklch(70.174% 0.19071 32.148);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(56.075% 0.11756 259.88);
  --border-card: 2px solid var(var(--bg));
  --gradient: radial-gradient(
    at right top,
    rgb(208, 175, 118),
    rgb(218, 232, 242)
  );
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --svg-fill: #000000;
}

body {
  background-color: var(--bg-dark);
  font-family:
    "Google Sans",
    Arial,
    Helvetica,
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  min-height: 100dvh; /* POTENTIAL BUG*/
}

.main {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: 200px 100px 4fr;
}

.hero {
  padding: 2rem;
  background-color: var(--bg);
  color: var(--text);
  border-radius: 15px;
  position: relative;
  display: grid;
  place-items: center;

  > .heading {
    font-size: clamp(1.7rem, 7vw, 4.5rem);
    border: var(--border-card);

    box-shadow: 7px 5px 5px var(--bg-dark);
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 15px;
    justify-self: center;
    max-width: fit-content;
    text-align: center;
  }

  > button {
    background-color: var(--bg-light);
    color: var(--text-muted);
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    border: var(--border-card);
    border-top: 2px solid var(--highlight);
    box-shadow: 7px 5px 5px var(--bg-dark);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  > button:hover {
    transform: scale(1.04);
  }
}

.new-book-btn {
  display: grid;
  place-items: center;

  > button {
    background-color: var(--bg-light);
    color: var(--text);
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    border: var(--border-card);
    border-top: 2px solid var(--highlight);
    box-shadow: 7px 5px 5px var(--bg-dark);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  > button:hover {
    transform: scale(1.04);
  }
}

.showcase {
  background-color: var(--bg);
  border-radius: 15px;
  padding: 1rem;
  display: grid;
  gap: 1rem;

  > p {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-display {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  justify-content: center;

  div {
    max-width: clamp(35rem, 40dvw, 60rem);
    display: grid;
    align-content: space-between;
    background-color: var(--bg-light);
    font-size: clamp(1.5rem, 2.7vw, 2rem);
    padding: 1rem;
    border-radius: 10px;
    color: var(--text-muted);

    div:first-child {
      color: var(--text);
    }

    div:nth-child(5) {
      overflow-x: auto;
      text-wrap: wrap;
    }

    div:nth-child(4) {
      display: flex;
      padding: 0 1rem;
      gap: 1.4rem;
      align-items: center;

      > div {
        color: var(--text-muted);
      }

      > input {
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: var(bg);
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        display: grid;
        place-content: center;
      }

      > input::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 2s transform ease-in-out;
        box-shadow: inset 1em 1em var(--success);
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      }

      > input:checked::before {
        transform: scale(1);
      }

      > input:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
      }

      > input:hover {
        transform: scale(1.04);
      }
    }
  }
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: fit-content;
  /* justify-self: center; */

  background-color: var(--danger);
  color: var(--bg);
  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-size: clamp(1em, 1.5vw, 1.5rem);
  border: var(--border-card);
  box-shadow: 2px 5px 5px var(--bg-dark);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.delete-btn:hover {
  transform: scale(1.015);
}

.modal {
  padding: 4rem;
  background-color: var(--bg);
  color: var(--text);
  border-radius: 15px;
  position: relative;
  margin: auto;
  width: clamp(25rem, 40dvw, 65rem);
  border: var(--border-card);
  box-shadow: 7px 5px 5px var(--bg-dark);

  > form {
    display: grid;
    align-items: center;
    gap: 1.6rem;
  }

  > form select {
    background-color: var(--bg-light);
    color: var(--text-muted);
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: min(1.5rem, 10vw);
    border: var(--border-card);
    border-top: 2px solid var(--highlight);
    box-shadow: 7px 5px 5px var(--bg-dark);
    cursor: pointer;
  }

  input,
  textarea {
    min-width: 100%;
    border-radius: 7px;
    border: var(--border-card);
    box-shadow: 7px 5px 5px var(--bg-dark);
  }
}

.modal-btns button {
  color: var(--text);
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  font-size: clamp(1.5rem, 1.3vw, 1.8rem);
  border: var(--border-card);
  /* border-top: 2px solid var(--highlight); */
  box-shadow: 7px 5px 5px var(--bg-dark);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

button#modalCancelBtn {
  background-color: var(--danger);
  color: var(--bg);
}
button#modalConfirmBtn {
  background-color: var(--info);
  color: var(--bg);
}

.footer {
  padding: 2rem;
  background-color: var(--bg);
  color: var(--text);
  border-radius: 15px;
  position: relative;
  display: grid;
  place-items: center;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background: var(--gradient);
    outline: 3px var(--border-card) solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 200ms;
  }

  .button .text {
    color: var(--text);
    font-weight: 700;
    font-size: 1em;
    transition: 200ms;
  }

  .button svg path {
    transition: 200ms;
  }

  .button:hover {
    transform: scale(1.1);
  }

  .button svg path {
    fill: var(--svg-fill);
  }
}

@media (width <= 599px) {
  .card-display {
    > div {
      max-width: 100%;
    }
  }

  .modal {
    width: fit-content;
    padding: 2rem;
  }
}
